@using Microsoft.AspNetCore.Http;
@model IEnumerable<CarRentalPortal.Models.ViewModels.CarListVM>
<div>
    <partial name="_AdminNavBar" />
</div>

<div class="row p-4">
    <div class="col-2 text-center offset-5">
        <h3>Car List</h3>
    </div>
    <div class="col-5 text-right">
        <a asp-action="CreateCar" asp-controller="home" class="btn btn-primary"><i class="fas fa-plus-square"></i> Add a car</a>
        <button type="button" id="ActiveBtn" class="btn btn-success"><i class="fas fa-check-circle"></i>Activate</button>
        <button type="button" id="InActiveBtn" class="btn btn-danger"><i class="fas fa-ban"></i> De Activate</button>
    </div>
</div>




<div class="row">
    <div class="col-2">
        <div class="container sidePanel p-3 border" id="leftpanel">
            <div class="margintop30">
                <b> Filter By Transmission</b>
                <div class="row maxWidth">
                    <div class="col-6">
                        <a asp-action="CarList" id="manualBtn" asp-controller="home" asp-route-transmission="manual" asp-route-varient="@ViewBag.Varient" asp-route-status="@ViewBag.Status" asp-route-sortby="@ViewBag.SortBy" asp-route-sortorder=@ViewBag.SortOrder class="btn transmissionBtn"><img src="https://www.indusgo.in/images/t2.png" alt="" async=""> Manual</a>
                    </div>
                    <div class="col-6">
                        <a asp-action="CarList" id="automaticBtn" asp-controller="home" asp-route-transmission="automatic" asp-route-varient="@ViewBag.Varient" asp-route-status="@ViewBag.Status" asp-route-sortby="@ViewBag.SortBy" asp-route-sortorder=@ViewBag.SortOrder class="btn transmissionBtn"><img src="https://www.indusgo.in/images/t1.png" alt="" async=""> Automatic</a>
                    </div>
                </div>
                @*<a asp-action="CarList" asp-controller="home" asp-route-transmission="all" asp-route-varient="@ViewBag.Varient" asp-route-model="@ViewBag.Model" asp-route-sortby="@ViewBag.SortBy" asp-route-sortorder=@ViewBag.SortOrder class="btn transmissionBtn">Show All</a>*@


            </div>
            <div class="margintop30">
                <b>   Filter By Car Status</b>
                <div class="row maxWidth">
                    <div class="col-6">
                        <a asp-action="CarList" id="activeBtn" asp-controller="home" asp-route-transmission="@ViewBag.Transmission" asp-route-varient="@ViewBag.Varient" asp-route-status="active" asp-route-sortby="@ViewBag.SortBy" asp-route-sortorder=@ViewBag.SortOrder class="btn transmissionBtn"><i class="fas fa-check-circle"></i> Active</a>
                       </div><div class="col-6">
    <a asp-action="CarList" id="inactiveBtn" asp-controller="home" asp-route-transmission="@ViewBag.Transmission" asp-route-varient="@ViewBag.Varient" asp-route-status="inactive" asp-route-sortby="@ViewBag.SortBy" asp-route-sortorder=@ViewBag.SortOrder class="btn transmissionBtn"><i class="fas fa-ban"></i> InActive</a>
                    </div>
</div>
                </div>
                    <div class="margintop30">
                        <b> Filter By Varient</b>
                        <select class="form-control formInput" id="varientSelector" onchange="carVarientSelected()">
                            <option value="all">--All--</option>
                            @foreach (var item in ViewBag.VarientList)
                            {
                                if (item == ViewBag.Varient)
                                {
                                    <option value="@item" selected>@item</option>
                                }
                                else
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="margintop30">
                        <a asp-action="CarList" asp-controller="home" class="btn btn-outline-danger">Reset Filteration</a>
                    </div>
                </div>
            </div>
    <div class="col-10">
        <div class="sidePanel row p-3 border">
            <div class="col-4">
                <b> Sort Order : </b><div class="switch-field">
                    @if (ViewBag.SortOrder == "ascending")
                    {
                        <input type="radio" name="orderRadio" class="orderRadio btn-check" id="ascendingRadio" value="ascending" autocomplete="off" checked>
                    }
                    else
                    {
                        <input type="radio" name="orderRadio" class="orderRadio btn-check" id="ascendingRadio" value="ascending" autocomplete="off">
                    }
                    <label class="btn btn-outline-success" for="ascendingRadio"><i class="fas fa-sort-amount-down-alt"></i> Low->High</label>


                    @if (ViewBag.SortOrder == "descending")
                    {
                        <input type="radio" name="orderRadio" class="orderRadio btn-check" id="descendingRadio" value="descending" autocomplete="off" checked>
                    }
                    else
                    {
                        <input type="radio" name="orderRadio" class="orderRadio btn-check" id="descendingRadio" value="descending" autocomplete="off">
                    } <label class="btn btn-outline-success" for="descendingRadio"><i class="fas fa-sort-amount-down"></i> High->Low</label>
                </div>
            </div>
            <div class="col-6 offset-2">
                <b> Sort By : </b><div class="switch-field">
                    @if (ViewBag.SortBy == "created")
                    {
                        <input type="radio" name="sortRadio" id="createdRadio" value="created" class="sortbyradio" checked>
                    }
                    else
                    {
                        <input type="radio" name="sortRadio" id="createdRadio" class="sortbyradio" value="created">
                    }
                    <label class="form-check-label" for="createdRadio">
                        <i class="fas fa-calendar-day"></i> Created On
                    </label>

                    @if (ViewBag.SortBy == "charge")
                    {
                        <input type="radio" name="sortRadio" value="charge" class="sortbyradio" id="chargeRadio" checked>
                    }
                    else
                    {
                        <input type="radio" name="sortRadio" value="charge" class="sortbyradio" id="chargeRadio">
                    }
                    <label class="form-check-label" for="chargeRadio">
                        <i class="fas fa-rupee-sign"></i> Charge Per Day
                    </label>
                    @if (ViewBag.SortBy == "seat")
                    {
                        <input type="radio" name="sortRadio" value="seat" class="sortbyradio" id="seatRadio" checked>
                    }
                    else
                    {
                        <input type="radio" name="sortRadio" value="seat" class="sortbyradio" id="seatRadio">
                    }
                    <label class="form-check-label" for="seatRadio">
                        <i class="fas fa-chair"></i> Seat Count
                    </label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="p-4 border maxWidthVW scrollable">
                <input type="checkbox" id="checkAll" />
                @if (Model.Count() == 0)
                {
                    <span class="text-center">No records found in this category!</span>
                }
                @foreach (var item in Model)
                {
                    <div class="container maxWidthVW p-1 border">
                        <input type="checkbox" class="checkBox"
                               value="@item.CarId" />
                        <div class="row">
                            <div class="col-2 border-right text-center">
                                <img src='@item.ImgUrl' class="list-img" />
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <h4 class="font-weight-bold">@item.CarModelDetails.CarName</h4>
                                    </div>
                                    
                                        <div class="custom-control custom-switch col-1 offset-2">
                                            @if (item.Active == true)
                                            {

                                                <input type="checkbox" class="custom-control-input dltBnt" id="customSwitch1" data-prop="@item.CarId" checked>
                                                <label class="custom-control-label" for="customSwitch1">Active</label>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="custom-control-input dltBnt" id="customSwitch1" data-prop="@item.CarId">
                                            <label class="custom-control-label" for="customSwitch1">Inactive</label>
                                            }
                                        </div>
                                    
                                    
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <b>Reg No : </b>@item.RegNo
                                    </div>

                                    <div class="col-2">
                                        <b>Transmission : </b>@item.CarModelDetails.CarTransmission
                                    </div>
                                    <div class="col-2">
                                        <b>Seat Count : </b>@item.CarModelDetails.SeatCount
                                    </div>
                                    <div class="col-1">
                                        <a class="btn btn-outline-secondary" asp-action="ViewCar" asp-route-id="@item.CarId" asp-controller="home"><i class="fas fa-eye"></i></a>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <b>Type : </b>@item.CarModelDetails.CarType
                                    </div>
                                    <div class="col-2">
                                        <b>Colour : @item.Colour </b>
                                    </div>
                                    <div class="col-2">
                                        <b>Charge Per Day : </b>@item.CarModelDetails.ChargePerDay
                                    </div>
                                    @if (Context.Session.GetInt32("_userId") == item.UserId || Context.Session.GetString("_userType") == "Super")
                                    {
                                        <div class="col-1">
                                            <a class="btn btn-outline-primary" asp-action="EditCar" asp-controller="home" asp-route-id="@item.CarId"><i class="fas fa-edit"></i></a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function initializeTransmissionBtn() {
        var manualBtn = document.getElementById("manualBtn");
        var automaticBtn = document.getElementById("automaticBtn");
        var activeBtn = document.getElementById("activeBtn");
        var inactiveBtn = document.getElementById("inactiveBtn");
        if ("@ViewBag.Transmission.ToString()" == "manual") {
            manualBtn.classList.add("selectedBtn");
        } else if ("@ViewBag.Transmission.ToString()" == "automatic"){
            automaticBtn.classList.add("selectedBtn");
        }

        if ("@ViewBag.Status.ToString()" == "active") {
            activeBtn.classList.add("selectedBtn");
        } else if ("@ViewBag.Status.ToString()" == "inactive") {
            inactiveBtn.classList.add("selectedBtn");
        }
    }
    $(document).ready(function () {
        initializeTransmissionBtn();
        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });

        $("#ActiveBtn").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());

                }
            });
            if (selectedIDs.length == 0) {
                Swal.fire('Please select atleast one to change status')
                return false;
            }
            console.log(selectedIDs);
            var options = {};
            options.url = "/home/ActiveCarSelected";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                Swal.fire(
                    'Activated!',
                    'Selected cars has been activated.',
                    'success'
                )
                location.href = "@Url.Action("CarList", "home")"
            };
            options.error = function () {
                alert("Error while changing status!");
            };
            Swal.fire({
                title: 'Are you sure?',
                text: "Selected cars will be activated!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Activate it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax(options);
                }
            })

        });
        $("#InActiveBtn").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());

                }
            });
            if (selectedIDs.length == 0) {
                Swal.fire('Please select atleast one to change status')
                return false;
            }
            console.log(selectedIDs);
            var options = {};
            options.url = "/home/InActiveCarSelected";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                Swal.fire(
                    'De Activated!',
                    'Selected cars has been deactivated.',
                    'success'
                )
                location.href = "@Url.Action("CarList", "home")"
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            Swal.fire({
                title: 'Are you sure?',
                text: "The selected cars will be Deactivated!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Deactivate it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax(options);
                }
            })

        });

        $('.dltBnt').on('change', function () {
                var prop = $(this).attr('data-prop');
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Change Status'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href = "@Url.Action("ChangeCarActive", "home")" + "?id=" + prop + "&active=" + $(this).is(":checked");

                        Swal.fire(
                            'Status Changed!',
                            'Car status has been changed.',
                            'success'
                        )
                        return false;
                    }
                })
            }
        );

        $(function () {
            $('input[name="orderRadio"]').click(function () {
                var transmission = "@ViewBag.Transmission.ToString()";
                var varient = "@ViewBag.Varient.ToString()";
                var status = "@ViewBag.Status.ToString()";
                var sortby = "@ViewBag.SortBy.ToString()";
                if ($(this).is(':checked')) {
                    location.href = "@Url.Action("CarList", "home")" + "?transmission=" + transmission + "&status=" + status + "&varient=" + varient + "&sortby=" + sortby + "&sortOrder=" + $(this).val();
                }
            });
        });
        $(function () {
            $('input[name="sortRadio"]').click(function () {
                var transmission = "@ViewBag.Transmission.ToString()";
                var varient = "@ViewBag.Varient.ToString()";
                var status = "@ViewBag.Status.ToString()";
                var sortOrder = "@ViewBag.SortOrder.ToString()";
                if ($(this).is(':checked')) {
                    location.href = "@Url.Action("CarList", "home")" + "?transmission=" + transmission + "&status=" + status + "&varient=" + varient + "&sortby=" + $(this).val() + "&sortOrder=" + sortOrder;
                }
            });
        });
    });
        function carVarientSelected() {
            var carVarient = document.getElementById("varientSelector").value;
            var transmission = "@ViewBag.Transmission.ToString()";
            var status =@ViewBag.Status;
            var sort = "@ViewBag.SortBy.ToString()";
            var sortOrder = "@ViewBag.SortOrder.ToString()";
            location.href = "@Url.Action("CarList", "home")" + "?transmission=" + transmission + "&status=" + status + "&varient=" + carVarient + "&sortby=" + sort + "&sortOrder=" + sortOrder;
        }

</script>