@using Microsoft.AspNetCore.Http;
@model IEnumerable<CarRentalPortal.Models.ViewModels.CarListVM>
<div>
    <partial name="_AdminNavBar" />
</div>

<div class="row p-4">
    <div class="col-4 text-center offset-4">
        <h3>Car List</h3>
    </div>
    <div class="col-3 text-right">
        <a asp-action="CreateCar" asp-controller="home" class="btn btn-primary">Add a cart</a>
    </div>
</div>

<input type="checkbox" id="checkAll" />
<input type="button" id="delete"
       value="Delete Selected Car" />

<div class="row">
    <div class="col-2">
        <div class="container sidePanel">
            <a asp-action="CarList" asp-controller="home" asp-route-transmission="all" asp-route-varient="@ViewBag.Varient" asp-route-model="@ViewBag.Model" asp-route-sortby="@ViewBag.SortBy" asp-route-sortorder=@ViewBag.SortOrder class="btn">Show All</a>
            <a asp-action="CarList" asp-controller="home" asp-route-transmission="manual" asp-route-varient="@ViewBag.Varient" asp-route-model="@ViewBag.Model" asp-route-sortby="@ViewBag.SortBy" asp-route-sortorder=@ViewBag.SortOrder class="btn">Manual</a>
            <a asp-action="CarList" asp-controller="home" asp-route-transmission="automatic" asp-route-varient="@ViewBag.Varient" asp-route-model="@ViewBag.Model" asp-route-sortby="@ViewBag.SortBy" asp-route-sortorder=@ViewBag.SortOrder class="btn">Automatic</a>
            <select class="form-control formInput" id="modelSelector" onchange="carModelSelected()">
                <option value="0">--All--</option>
                @foreach (var item in ViewBag.ModelList)
                {
                    if (item.CarModelId == ViewBag.Model)
                    {
                        <option value="@item.CarModelId" selected>@item.CarName</option>
                    }
                    else
                    {
                        <option value="@item.CarModelId">@item.CarName</option>
                    }
                }
            </select>
            <select class="form-control formInput" id="varientSelector" onchange="carVarientSelected()">
                <option value="all">--All--</option>
                @foreach (var item in ViewBag.VarientList)
                {
                    if (item == ViewBag.Varient)
                    {
                        <option value="@item" selected>@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
            Sort By : <div class="form-check form-check-inline">
                @if (ViewBag.SortOrder == "ascending")
                {
                    <input class="form-check-input" type="radio" name="orderRadio" class="orderRadio" id="ascendingRadio" value="ascending" checked>
                }
                else
                {
                    <input class="form-check-input" type="radio" name="orderRadio" class="orderRadio" id="ascendingRadio" value="ascending">
                }
                <label class="form-check-label" for="ascendingRadio">Low->High</label>
            </div>
            <div class="form-check form-check-inline">
                @if (ViewBag.SortOrder == "descending")
                {
                    <input class="form-check-input" type="radio" name="orderRadio" class="orderRadio" id="descendingRadio" value="descending" checked>
                }
                else
                {
                    <input class="form-check-input" type="radio" name="orderRadio" class="orderRadio" id="descendingRadio" value="descending">
                } <label class="form-check-label" for="descendingRadio">High->Low</label>
            </div>
            <div class="form-check">
                @if (ViewBag.SortBy == "created")
                {
                    <input class="form-check-input" type="radio" name="sortRadio" id="createdRadio" value="created" class="sortbyradio" checked>
                }
                else
                {
                    <input class="form-check-input" type="radio" name="sortRadio" id="createdRadio" class="sortbyradio" value="created">
                }
                <label class="form-check-label" for="createdRadio">
                    Created On
                </label>
            </div>
            <div class="form-check">
                @if (ViewBag.SortBy == "charge")
                {
                    <input class="form-check-input" type="radio" name="sortRadio" value="charge" class="sortbyradio" id="chargeRadio" checked>
                }
                else
                {
                    <input class="form-check-input" type="radio" name="sortRadio" value="charge" class="sortbyradio" id="chargeRadio">
                }
                <label class="form-check-label" for="chargeRadio">
                    Charge Per Day
                </label>
            </div>
            <div class="form-check">
                @if (ViewBag.SortBy == "seat")
                {
                    <input class="form-check-input" type="radio" name="sortRadio" value="seat" class="sortbyradio" id="seatRadio" checked>
                }
                else
                {
                    <input class="form-check-input" type="radio" name="sortRadio" value="seat" class="sortbyradio" id="seatRadio">
                }
                <label class="form-check-label" for="seatRadio">
                    Seat Count
                </label>
            </div>
            <a asp-action="CarList" asp-controller="home" class="btn">Reset Filteration</a>
        </div>
    </div>
    <div class="col-10">

        <div class="container">
            <div class="p-4 border scrollable">
                @if (Model.Count() == 0)
                {
                    <span class="text-center">No records found in this category!</span>
                }
                @foreach (var item in Model)
                {
                    <div class="container p-3 border">
                        <input type="checkbox" class="checkBox"
                               value="@item.CarId" />
                        <div class="row">
                            <div class="col-2">
                                <img src='@item.ImgUrl' class="list-img" />
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <h4 class="font-weight-bold">@item.CarModelDetails.CarName</h4>
                                    </div>
                                    <div class="col-2">
                                        <b>Reg No : </b>@item.RegNo
                                    </div>
                                    <div class="col-1">
                                        <a class="btn btn-secondary" asp-action="ViewCar" asp-route-id="@item.CarId" asp-controller="home"><i class="fas fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <b>Colour : @item.Colour </b>
                                    </div>
                                    <div class="col-2">
                                        <b>Transmission : </b>@item.CarModelDetails.CarTransmission
                                    </div>
                                    <div class="col-2">
                                        <b>Car Type : </b>@item.CarModelDetails.CarType
                                    </div>
                                    @if (Context.Session.GetInt32("_userId") == item.UserId)
                                    {
                                        <div class="col-1">
                                            <a class="btn btn-primary" asp-action="EditCar" asp-controller="home" asp-route-id="@item.CarId"><i class="fas fa-edit"></i></a>
                                        </div>
                                    }
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <b>Seat Count : </b>@item.CarModelDetails.SeatCount
                                    </div>
                                    <div class="col-2">
                                        <b>Charge Per Day : </b>@item.CarModelDetails.ChargePerDay
                                    </div>
                                    @if (Context.Session.GetInt32("_userId") == item.UserId)
                                    {
                                        <div class="col-1">
                                            <button type="button" class="btn btn-danger dltBnt" data-prop="@item.CarId"><i class="fas fa-trash"></i></button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });

        $("#delete").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());

                }
            });
            if (selectedIDs.length == 0) {
                Swal.fire('Please select atleast One to delete')
                return false;
            }
            console.log(selectedIDs);
            var options = {};
            options.url = "/home/DeleteCarSelected";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                Swal.fire(
                    'Deleted!',
                    'Selected items has been deleted.',
                    'success'
                )
                location.href = "@Url.Action("CarList", "home")"
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            Swal.fire({
                title: 'Are you sure?',
                text: "Cars coming under this model will also be deleted!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax(options);
                }
            })

        });

          $('.dltBnt').click(function () {
        var prop = $(this).attr('data-prop');
 Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                 location.href = "@Url.Action("DeleteCar", "home")" + "/" + prop ;

                Swal.fire(
                'Deleted!',
                'Car has been deleted.',
                'success'
                )
                return false;
                }
                })
    });

        $(function () {
            $('input[name="orderRadio"]').click(function () {
                var transmission = "@ViewBag.Transmission.ToString()";
                var varient = "@ViewBag.Varient.ToString()";
                var carModel = "@ViewBag.Model.ToString()";
                var sortby = "@ViewBag.SortBy.ToString()";
                if ($(this).is(':checked')) {
                    location.href = "@Url.Action("CarList", "home")" + "?transmission=" + transmission + "&model=" + carModel + "&varient=" + varient + "&sortby=" + sortby + "&sortOrder=" + $(this).val();
                }
            });
        });
        $(function () {
            $('input[name="sortRadio"]').click(function () {
                var transmission = "@ViewBag.Transmission.ToString()";
                var varient = "@ViewBag.Varient.ToString()";
                var carModel = "@ViewBag.Model.ToString()";
                var sortOrder = "@ViewBag.SortOrder.ToString()";
                if ($(this).is(':checked')) {
                    location.href = "@Url.Action("CarList", "home")" + "?transmission=" + transmission + "&model=" + carModel + "&varient=" + varient + "&sortby=" + $(this).val() + "&sortOrder=" + sortOrder;
                }
            });
        });
    });
        function carModelSelected() {
            var carModel = document.getElementById("modelSelector").value;
            var transmission = "@ViewBag.Transmission.ToString()";
            var varient = "@ViewBag.Varient.ToString()";
            var sortby = "@ViewBag.SortBy.ToString()";
            var sortOrder = "@ViewBag.SortOrder.ToString()";
            location.href = "@Url.Action("CarList", "home")" + "?transmission=" + transmission + "&model=" + carModel + "&varient=" + varient + "&sortby=" + sortby + "&sortOrder=" + sortOrder;
        }
        function carVarientSelected() {
            var carVarient = document.getElementById("varientSelector").value;
            var transmission = "@ViewBag.Transmission.ToString()";
            var model =@ViewBag.Model;
            var sort = "@ViewBag.SortBy.ToString()";
            var sortOrder = "@ViewBag.SortOrder.ToString()";
            location.href = "@Url.Action("CarList", "home")" + "?transmission=" + transmission + "&model=" + model + "&varient=" + carVarient + "&sortby=" + sort + "&sortOrder=" + sortOrder;
        }
   
</script>