@model CarRentalPortal.Models.ViewModels.ConfirmPageVM
<div>
    <partial name="_NavBar" />
</div>
<div class="row p-4">
    <div class="col-4 text-center offset-4">
        <h3 class="page-title">Confirm Order</h3>
    </div>
    <div class="col-3 text-right">
        <a asp-action="UserCarList" asp-controller="home" class="btn btn-primary"><i class="fas fa-sync"></i> Change Order</a>
    </div>
</div>
<div class="row">

    <div class="col-5 offset-1">
        <h1> @Html.DisplayFor(model => model.carListVM.CarModelDetails.CarName)<br /></h1>

        <label class="control-label carLabel">Car Transmission type</label>
        @Html.DisplayFor(model => model.carListVM.CarModelDetails.CarTransmission)<br />

        <label class="control-label carLabel">Car Varient</label>
        @Html.DisplayFor(model => model.carListVM.CarModelDetails.CarType)<br />

        <label class="control-label carLabel">Car Colour</label>
        @Html.DisplayFor(model => model.carListVM.Colour)<br />

        <label class="control-label carLabel">Number of Seats</label>
        @Html.DisplayFor(model => model.carListVM.CarModelDetails.SeatCount)<br />
        <table class="marginleft10 table-bordered">
            <tr>
                <th>From</th>
                <th>To</th>
                <th>No of days</th>
                <th>Charge Per Day</th>
                <th>Total Charge</th>
                @if (@ViewBag.Discount != null)
                {
                    <th>Discount</th>
                    <th>Amount Payable</th>
}
            </tr>
            <tr>
                <td>@ViewBag.FromDate</td>
                <td>@ViewBag.ToDate</td>
                <td>@ViewBag.NoOfDays</td>
                <td>@Html.DisplayFor(model => model.carListVM.CarModelDetails.ChargePerDay)</td>
                <td>@ViewBag.Total</td>
                @if (@ViewBag.Coupon != 0)
                {
                    <td>@ViewBag.Discount</td>
                    <td>@ViewBag.FinalAmount</td>
                }
            </tr>
        </table>




    </div>
    <div class="col-4">
        <img src="@ViewBag.ImgUrl" class="width440" />
    </div>
    <br />
    <br />
    <div class="row text-center margintop60">
        <div class="col-3 offset-5">
            <button type="button" id="couponButton" class="btn btn-link text-center" data-toggle="modal" data-target="#exampleModal">
                Apply Coupon Code
            </button>
        </div>
    </div>
    <div class="row ">
        <div class="col-3 offset-5">
            <a asp-controller="home" asp-action="ConfirmPageYes" asp-route-id="@ViewBag.CarId" asp-route-coupon="@ViewBag.Coupon" class="btn btn-outline-success font-weight-bold btn-block"> Confirm </a>
            <!-- Button trigger modal -->

        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Coupons</h5>
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body  p-2">
                @if (Model.Coupons.Count() == 0)
            {
                <h5 class="p-5">No Active Coupons Available!</h5>
            }else{
            <div class="row col-12 p-3 border ml-2 mr-2" >
                @foreach (var item in Model.Coupons)
                {
                    <div class="row text-center col-12 border p-2 ml-2 mt-2">
                        <div class="row ml-2">
                            <h5 >Get @item.PercentageDiscount% on orders above @item.MinOrderAmount</h5>
                        </div> 
                        <div class="row ml-2">
                            <span >Maximum discount: @item.MaxDiscount</span>
                        </div><br/>
                        <div class="row">
                            <div class="col-6">
                                <h5 class="text-left ml-2">@item.CouponName</h5>
                            </div>
                            <div class="col-6 text-right">
                                
                                <a asp-action="ConfirmPage" asp-route-id="@ViewBag.CarId" asp-route-coupon="@item.CouponId" class="btn btn-sm btn-outline-success mr-2">Apply</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
                }
            </div>
            <div class="modal-footer">
                <a asp-action="ConfirmPage" asp-route-id="@ViewBag.CarId" class="btn btn-danger text-light"><i class="far fa-times-circle"></i> Remove Coupon</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->


<script type="text/javascript">
    function checkMessage() {
        if ('@ViewBag.Message'== null) { }
        else if ('@ViewBag.Message'== "Minimum order value criteria not met") {
            Swal.fire(
                'Coupon not applied!',
                'Minimum order value criteria not met',
                'error'
            )
            document.getElementById("couponButton").classList.remove("text-success");
        } else if ('@ViewBag.Message' == "Coupon Applied") {
            document.getElementById("couponButton").innerHTML = "Successfully Applied! Change?"
            document.getElementById("couponButton").classList.add("text-success");
            Swal.fire(
                'You saved @ViewBag.Discount!',
                'Coupon has been successfully applied!',
                'success'
            )
        }
    }
    $(document).ready(function () {
        checkMessage();
    });
</script>