@model Car

<div>
    <partial name="_AdminNavBar" />
</div>
<div class="row p-4">
    <div class="col-4 text-center offset-4">
        <h3>Edit Car </h3>
    </div>
    <div class="col-3 text-right">
        <a asp-action="CarList" asp-controller="home" class="btn btn-primary"><i class="fas fa-hand-point-left"></i> Back to list</a>
    </div>
</div>
<div class="alert alert-danger text-center" role="alert" id="createError">
    Registration Number already exists!!
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="carDetailsDiv container">
        <form asp-action="EditCar" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @*<select asp-for="CarModelId" class="form-control formInput" >
                @foreach (var item in ViewBag.ModelList)
                {
                    <option value="@item.CarModelId">@item.CarName @item.CarTransmission @item.CarType</option>
                }
            </select>*@
            <div class="form-group invisible">
                <label asp-for="CarId" class="control-label carLabel"></label>
                @Html.EditorFor(model => model.CarId)
            </div>
            @Html.LabelFor(model => model.RegNo, new { @class = "carLabel" })
            <input type="text" asp-for="RegNo" id="regNoInput" class="form-control formInput" placeholder="Registration Number of the car" onchange="RegNoChange()" />
            @Html.ValidationMessageFor(model => model.RegNo, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Colour, new { @class = "carLabel" })
            @Html.EditorFor(model => model.Colour, new { htmlAttributes = new { placeholder = "Colour of the car", @class = "form-control formInput" } })
            @Html.ValidationMessageFor(model => model.Colour, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.ImgUrl, new { @class = "carLabel" })
            @Html.EditorFor(model => model.ImgUrl, new { htmlAttributes = new { placeholder = "Image URL", @class = "form-control formInput", @type = "url" } })
            @Html.ValidationMessageFor(model => model.ImgUrl, "", new { @class = "text-danger" })<br/>
            <input type="submit" class="btn btn-primary btn-block" id="submitBtn" value="Edit Car" />
        </form>
    </div>
}
<script type="text/javascript">
    function RegNoChange() {
        var regNo = document.getElementById("regNoInput").value;
        var alertBanner = document.getElementById("createError");
        fetch("https://localhost:44305/api/Car/checkregnoexists/"+regNo).then(response => response.json())
            .then((item) => {
                if (item) {
                    alertBanner.style.display = "block";
                    @*document.getElementById("submitBtn").disabled = "true";*@
                }
                else {
                    alertBanner.style.display = "none";@*
                    document.getElementById("submitBtn").disabled = "false";*@
                }
            });
    }
   
</script>

