@model CarRentalPortal.Models.CarModel

@{
    ViewData["Title"] = "EditCar";
}

<div>
    <partial name="_AdminNavBar" />
</div>
@if (ViewBag.SuccessMessage == "error")
{
    <h6 class="caradded-success text-danger">
        Some Error Occured
    </h6>
}
<hr />
<div class="carDetailsDiv container">
    <h3>Update Car Details</h3>
    <form asp-action="EditCar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group invisible">
            <label asp-for="CarModelId" class="control-label carLabel"></label>
            <input asp-for="CarModelId" class="form-control formInput" />
            <span asp-validation-for="CarModelId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CarName" class="control-label carLabel"></label>
            <input asp-for="CarName" class="form-control formInput" />
            <span asp-validation-for="CarName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CarTransmission" class="control-label carLabel"></label>
            @Html.DropDownListFor(m => m.CarTransmission,
        new SelectList(Enum.GetValues(typeof(CarTransmission))),
        "Select Car Transmission", new { @class = "form-control formInput" })
            <span asp-validation-for="CarTransmission" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CarType" class="control-label carLabel"></label>
            @Html.DropDownListFor(m => m.CarType,
         new SelectList(Enum.GetValues(typeof(CarVarient))),
         "Select Car Type", new { @class = "form-control formInput" })
            <span asp-validation-for="CarType" class="text-danger"></span>
        </div>
        @Html.LabelFor(model => model.SeatCount, new { @class = "carLabel" })
        @Html.EditorFor(model => model.SeatCount, new { htmlAttributes = new { placeholder = "Seat Count", @class = "form-control formInput", @type = "number" } })
        @Html.ValidationMessageFor(model => model.SeatCount, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.ChargePerDay, new { @class = "carLabel" })
        @Html.EditorFor(model => model.ChargePerDay, new { htmlAttributes = new { placeholder = "Charge Per Day", @class = "form-control formInput", @type = "number" } })
        @Html.ValidationMessageFor(model => model.ChargePerDay, "", new { @class = "text-danger" })
        <br />
        <div class="form-group">
            <input type="submit" id="btn-one" value="Save" class="btn btn-primary formSubmit" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
