@model CarRentalPortal.Models.ViewModels.ForgotPasswordVM;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="loginScreen">
        <div class="row row-size">
            <div class="col-md-6 d-none d-lg-block">
                <img src='https://c.wallhere.com/photos/ab/d7/1600x900_px_New_York_City_street_taxi_Tilt_Shift_Traffic-545545.jpg!d' id="imgLogin" />
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="loginFormDiv" class="card">
                    <div id="loginForm" class="card-body">
                        <h2 class="brandName">
                            DriveWay
                        </h2>
                        <p>
                            Reset your password.
                        </p>
                        <form asp-action="ForgotPassword" method="post">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="email" placeholder="Email ID" name="EmailId" class="form-control formInput" id="emailIDInput" />
                            @Html.ValidationMessageFor(model=>model.EmailId, "", new { @class = "text-danger" })

                           
                            <div class="d-grid gap-2 d-md-block">
                                <button class="btn btn-primary formSubmit" type="submit" id="btn-one">Send Reset Link</button>
                                Back to<a asp-action="Signin" asp-controller="home" class="btn btn-link">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        if (@TempData["ForgotPassword"]== 1) {
            Swal.fire('Password reset email has been sent to your Email ID');
        } else if(@TempData["ForgotPassword"]== -1)
            Swal.fire('This email account doesnt exist!');
    });
    </script>