@model IEnumerable<CarRentalPortal.Models.ViewModels.OrderHistoryVM>
@{
    ViewData["Title"] = "OrderHistory";
}
<div>
    <partial name="_NavBar" />
</div>
<div class="row p-4">
    <div class="col-2 text-center offset-5">
        <h3>Order History</h3>
    </div>
    <div class="col-5 text-right">
        <a asp-action="CreateCar" asp-controller="home" class="btn btn-primary">Rent a Car</a>
    </div>
</div>

<div class="col-12">
    <div class="sidePanel row p-3 border">
        <div class="col-4">
            <b> Sort Order : </b><div class="switch-field">
                @if (ViewBag.SortOrder == "ascending")
                {
                    <input type="radio" name="orderRadio" class="orderRadio btn-check" id="ascendingRadio" value="ascending" autocomplete="off" checked>
                }
                else
                {
                    <input type="radio" name="orderRadio" class="orderRadio btn-check" id="ascendingRadio" value="ascending" autocomplete="off">
                }
                <label class="btn btn-outline-success" for="ascendingRadio"><i class="fas fa-sort-amount-down-alt"></i> Low->High</label>


                @if (ViewBag.SortOrder == "descending")
                {
                    <input type="radio" name="orderRadio" class="orderRadio btn-check" id="descendingRadio" value="descending" autocomplete="off" checked>
                }
                else
                {
                    <input type="radio" name="orderRadio" class="orderRadio btn-check" id="descendingRadio" value="descending" autocomplete="off">
                } <label class="btn btn-outline-success" for="descendingRadio"><i class="fas fa-sort-amount-down"></i> High->Low</label>
            </div>
        </div>
        <div class="col-6 offset-2">
            <b> Sort By : </b><div class="switch-field">
                @if (ViewBag.SortBy == "orderdate")
                {
                    <input type="radio" name="sortRadio" id="createdRadio" value="orderdate" class="sortbyradio" checked>
                }
                else
                {
                    <input type="radio" name="sortRadio" id="createdRadio" class="sortbyradio" value="orderdate">
                }
                <label class="form-check-label" for="createdRadio">
                    <i class="fas fa-calendar-day"></i> Created On
                </label>

                @if (ViewBag.SortBy == "total")
                {
                    <input type="radio" name="sortRadio" value="total" class="sortbyradio" id="chargeRadio" checked>
                }
                else
                {
                    <input type="radio" name="sortRadio" value="total" class="sortbyradio" id="chargeRadio">
                }
                <label class="form-check-label" for="chargeRadio">
                    <i class="fas fa-rupee-sign"></i> Charge Per Day
                </label>
            </div>
        </div>
    </div>
    <div class="container maxW">
        <div class="p-4 border scrollable">
            @if (Model.Count() == 0)
            {
                <span class="text-center">No records found in this category!</span>
            }
            @foreach (var item in Model)
            {
                <div class="container p-1 border">
                    <div class="row">
                        <div class="col-2 border-right">
                            <img src='@item.ImgUrl' class="list-img" />
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4">
                                    <h4 class="font-weight-bold">@item.CarName</h4>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <b>Order Date : </b>@item.OrderDate
                                </div>

                                <div class="col-2">
                                    <b>Booking From : </b>@item.FromDate
                                </div>
                                <div class="col-2">
                                    <b>Booking Till : </b>@item.ToDate
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <b>Total : </b>@item.Total
                                </div>
                                <div class="col-2">
                                    @if (item.Status == "booked" || item.Status == "accepted" || item.Status == "completed")
                                    {
                                        <a asp-action="ReceiptPage" asp-controller="home" asp-route-id="@item.OrderId" class="btn btn-primary">View Reciept</a>
                                    }
                                </div>
                                <div class="col-2">
                                    @if (item.Status == "booked")
                                    {
                                        <a asp-action="RequestReturn" asp-controller="home" asp-route-id="@item.OrderId" class="btn btn-primary">Request Return</a>
                                    }
                                    else if (item.Status == "requested")
                                    {
                                        <a class="btn btn-outline-warning disabled" >Waiting for Approval</a>
                                    }
                                    else if (item.Status == "accepted")
                                    {
                                        <a class="btn btn-success" asp-action="CompleteTrip" asp-route-orderId="@item.OrderId">Approved!Click to continue</a>
                                    }
                                    else if (item.Status == "completed")
                                    {
                                          <a class="btn-outline-success disabled" >Completed</a>
                                    }
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    $(function () {
            $('input[name="orderRadio"]').click(function () {
                var sortby = "@ViewBag.SortBy.ToString()";
                if ($(this).is(':checked')) {
                    location.href = "@Url.Action("OrderHistory", "home")" + "?sortby=" + sortby + "&sortOrder=" + $(this).val();
                }
            });
        });
        $(function () {
            $('input[name="sortRadio"]').click(function () {
                var sortOrder = "@ViewBag.SortOrder.ToString()";
                if ($(this).is(':checked')) {
                    location.href = "@Url.Action("OrderHistory", "home")" +"?sortby=" + $(this).val() + "&sortOrder=" + sortOrder;
                }
            });
        });
    });
</script>