@model CarRentalPortal.Models.ViewModels.PasswordChangeVM;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="loginScreen">
        <div class="row row-size">
            <div class="col-md-6 d-none d-lg-block">
                <img src='https://c.wallhere.com/photos/ab/d7/1600x900_px_New_York_City_street_taxi_Tilt_Shift_Traffic-545545.jpg!d' id="imgLogin" />
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="loginFormDiv" class="card">
                    <div id="loginForm" class="card-body">
                        <h2 class="brandName">
                            DriveWay
                        </h2>
                        <p>
                            Reset your password.
                        </p>
                        <form asp-action="PasswordChange" method="post">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="text" placeholder="OTP" name="OTP" class="form-control formInput" id="OTPInput" />
                            @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })

                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Passsword", @class = "form-control formInput" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Passsword", @class = "form-control formInput" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                            <div class="d-grid gap-2 d-md-block">
                                <button class="btn btn-primary formSubmit" type="submit" id="btn-one">Update Password</button>
                                <a asp-action="Signin" asp-controller="home" class="btn btn-link">Login</a>
                                <a asp-action="ForgotPassword" asp-controller="home" class="btn btn-link">Resend OTP</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function checkMessage() {
        if ('@ViewBag.Message' == "invalid") {

            Swal.fire(
                'OTP Mismatched!',
                'please check your registered mail id!',
                'error'
            )
        } else if ('@ViewBag.Message' == "success") {
            Swal.fire(
                'Success!',
                'Password changed successfully!',
                'success'
            )
            location.href = "@Url.Action("signin","home")";
        } else if ('@ViewBag.Message' == 'validationerror') {
            Swal.fire(
                'Incorrect Data!',
                'please check your the data entered!',
                'error'
            )
        } else {

            Swal.fire(
                'OTP sent!',
                'Please check your registered mail id!',
                'success'
            )
    }
    }
    $(document).ready(function () {
        checkMessage();
    });
</script>