@model IEnumerable<CarRentalPortal.Models.ViewModels.CarListVM>
@using Microsoft.AspNetCore.Http;
<div>
    <partial name="_NavBar" />
</div>

<div class="row">
    <div class="col-2">
        <div class="container sidePanel p-3 border" id="leftpanel">
            <span class="border">
                <b> Filter By Transmission</b>
                <div class="row maxWidth">
                    <div class="col-6">
                        <a asp-action="CarList" id="manualBtn" asp-controller="home" asp-route-transmission="manual" asp-route-varient="@ViewBag.Varient" asp-route-model="@ViewBag.Model" asp-route-sortby="@ViewBag.SortBy" asp-route-sortorder=@ViewBag.SortOrder class="btn transmissionBtn"><img src="https://www.indusgo.in/images/t2.png" alt="" async=""> Manual</a>
                    </div>
                    <div class="col-6">
                        <a asp-action="CarList" id="automaticBtn" asp-controller="home" asp-route-transmission="automatic" asp-route-varient="@ViewBag.Varient" asp-route-model="@ViewBag.Model" asp-route-sortby="@ViewBag.SortBy" asp-route-sortorder=@ViewBag.SortOrder class="btn transmissionBtn"><img src="https://www.indusgo.in/images/t1.png" alt="" async=""> Automatic</a>
                    </div>
                </div>
                @*<a asp-action="CarList" asp-controller="home" asp-route-transmission="all" asp-route-varient="@ViewBag.Varient" asp-route-model="@ViewBag.Model" asp-route-sortby="@ViewBag.SortBy" asp-route-sortorder=@ViewBag.SortOrder class="btn transmissionBtn">Show All</a>*@


            </span>
            <span class="border">
                <b>   Filter By Model</b>
                <select class="form-control formInput" id="modelSelector" onchange="carModelSelected()">
                    <option value="0">--All--</option>
                    @foreach (var item in ViewBag.ModelList)
                    {
                        if (item.CarModelId == ViewBag.Model)
                        {
                            <option value="@item.CarModelId" selected>@item.CarName</option>
                        }
                        else
                        {
                            <option value="@item.CarModelId">@item.CarName</option>
                        }
                    }
                </select>
            </span>
            <span class="border">
                <b> Filter By Varient</b>
                <select class="form-control formInput" id="varientSelector" onchange="carVarientSelected()">
                    <option value="all">--All--</option>
                    @foreach (var item in ViewBag.VarientList)
                    {
                        if (item == ViewBag.Varient)
                        {
                            <option value="@item" selected>@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
            </span>
            <a asp-action="CarList" asp-controller="home" class="btn btn-outline-danger">Reset Filteration</a>

            <div class="border">
                <b>Selected Dates : </b>
                @ViewBag.FromDate -> @ViewBag.ToDate
                <a action="DateSelector" asp-controller="home" class="btn btn-link">Change</a>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="sidePanel row p-3 border">
            <div class="col-4">
                <b> Sort Order : </b><div class="switch-field">
                    @if (ViewBag.SortOrder == "ascending")
                    {
                        <input type="radio" name="orderRadio" class="orderRadio btn-check" id="ascendingRadio" value="ascending" autocomplete="off" checked>
                    }
                    else
                    {
                        <input type="radio" name="orderRadio" class="orderRadio btn-check" id="ascendingRadio" value="ascending" autocomplete="off">
                    }
                    <label class="btn btn-outline-success" for="ascendingRadio"><i class="fas fa-sort-amount-down-alt"></i> Low->High</label>


                    @if (ViewBag.SortOrder == "descending")
                    {
                        <input type="radio" name="orderRadio" class="orderRadio btn-check" id="descendingRadio" value="descending" autocomplete="off" checked>
                    }
                    else
                    {
                        <input type="radio" name="orderRadio" class="orderRadio btn-check" id="descendingRadio" value="descending" autocomplete="off">
                    } <label class="btn btn-outline-success" for="descendingRadio"><i class="fas fa-sort-amount-down"></i> High->Low</label>
                </div>
            </div>
            <div class="col-6 offset-2">
                <b> Sort By : </b><div class="switch-field">
                    @if (ViewBag.SortBy == "created")
                    {
                        <input type="radio" name="sortRadio" id="createdRadio" value="created" class="sortbyradio" checked>
                    }
                    else
                    {
                        <input type="radio" name="sortRadio" id="createdRadio" class="sortbyradio" value="created">
                    }
                    <label class="form-check-label" for="createdRadio">
                        <i class="fas fa-calendar-day"></i> Created On
                    </label>

                    @if (ViewBag.SortBy == "charge")
                    {
                        <input type="radio" name="sortRadio" value="charge" class="sortbyradio" id="chargeRadio" checked>
                    }
                    else
                    {
                        <input type="radio" name="sortRadio" value="charge" class="sortbyradio" id="chargeRadio">
                    }
                    <label class="form-check-label" for="chargeRadio">
                        <i class="fas fa-rupee-sign"></i> Charge Per Day
                    </label>
                    @if (ViewBag.SortBy == "seat")
                    {
                        <input type="radio" name="sortRadio" value="seat" class="sortbyradio" id="seatRadio" checked>
                    }
                    else
                    {
                        <input type="radio" name="sortRadio" value="seat" class="sortbyradio" id="seatRadio">
                    }
                    <label class="form-check-label" for="seatRadio">
                        <i class="fas fa-chair"></i> Seat Count
                    </label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="p-4 border scrollable">
                @if (Model.Count() == 0)
                {
                    <span class="text-center">No records found in this category!</span>
                }
                @foreach (var item in Model)
                {
                    <div class="container p-1 border">
                        <div class="row">
                            <div class="col-2 border-right">
                                <img src='@item.ImgUrl' class="list-img" />
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <h4 class="font-weight-bold">@item.CarModelDetails.CarName</h4>
                                    </div>

                                    <div class="col-1 offset-2">
                                        <a class="btn btn-outline-secondary" asp-action="ViewCar" asp-route-id="@item.CarId" asp-controller="home"><i class="fas fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <b>Type : </b>@item.CarModelDetails.CarType.ToString().ToLower()
                                    </div>

                                    <div class="col-2">
                                        <b>Transmission : </b>@item.CarModelDetails.CarTransmission
                                    </div>
                                    <div class="col-2">
                                        <b>Seat Count : </b>@item.CarModelDetails.SeatCount
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-2">
                                        <b>Colour : @item.Colour </b>
                                    </div>
                                    <div class="col-2">
                                        <b>Charge Per Day : </b>@item.CarModelDetails.ChargePerDay
                                    </div>
                                    <div class="col-3 offset-2">
                                        <a asp-controller="home" asp-action="ConfirmPage" asp-route-id="@item.CarId" class="btn btn-primary">Book Now</a>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function initializeTransmissionBtn() {
        var manualBtn = document.getElementById("manualBtn");
        var automaticBtn = document.getElementById("automaticBtn");
        if ("@ViewBag.Transmission.ToString()" == "manual") {
            manualBtn.classList.add("selectedBtn");
        } else if ("@ViewBag.Transmission.ToString()" == "automatic"){
            automaticBtn.classList.add("selectedBtn");
        }
    }

    $(document).ready(function () {

        initializeTransmissionBtn();

        $(function () {
            $('input[name="orderRadio"]').click(function () {
                var transmission = "@ViewBag.Transmission.ToString()";
                var varient = "@ViewBag.Varient.ToString()";
                var carModel = "@ViewBag.Model.ToString()";
                var sortby = "@ViewBag.SortBy.ToString()";
                if ($(this).is(':checked')) {
                    location.href = "@Url.Action("UserCarList", "home")" + "?transmission=" + transmission + "&model=" + carModel + "&varient=" + varient + "&sortby=" + sortby + "&sortOrder=" + $(this).val();
                }
            });
        });
        $(function () {
            $('input[name="sortRadio"]').click(function () {
                var transmission = "@ViewBag.Transmission.ToString()";
                var varient = "@ViewBag.Varient.ToString()";
                var carModel = "@ViewBag.Model.ToString()";
                var sortOrder = "@ViewBag.SortOrder.ToString()";
                if ($(this).is(':checked')) {
                    location.href = "@Url.Action("UserCarList", "home")" + "?transmission=" + transmission + "&model=" + carModel + "&varient=" + varient + "&sortby=" + $(this).val() + "&sortOrder=" + sortOrder;
                }
            });
        });
    });
        function carModelSelected() {
            var carModel = document.getElementById("modelSelector").value;
            var transmission = "@ViewBag.Transmission.ToString()";
            var varient = "@ViewBag.Varient.ToString()";
            var sortby = "@ViewBag.SortBy.ToString()";
            var sortOrder = "@ViewBag.SortOrder.ToString()";
            location.href = "@Url.Action("UserCarList", "home")" + "?transmission=" + transmission + "&model=" + carModel + "&varient=" + varient + "&sortby=" + sortby + "&sortOrder=" + sortOrder;
        }
        function carVarientSelected() {
            var carVarient = document.getElementById("varientSelector").value;
            var transmission = "@ViewBag.Transmission.ToString()";
            var model =@ViewBag.Model;
            var sort = "@ViewBag.SortBy.ToString()";
            var sortOrder = "@ViewBag.SortOrder.ToString()";
            location.href = "@Url.Action("UserCarList", "home")" + "?transmission=" + transmission + "&model=" + model + "&varient=" + carVarient + "&sortby=" + sort + "&sortOrder=" + sortOrder;
        }

</script>